.message-text-part {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 24px;
    font-size: 16px;
    padding: 0 3px;
}
.message-text-part.type-gift,
.message-text-part.type-name {
    max-width: calc(100% - 80px);
}
.message-text-part.type-system {
    white-space: normal;
}
.dark .message-text-part {
    color: #fff;
}
.dark .message-text-part,
.dark .message-text-part.type-name,
.dark .message-text-part.type-system > span {
    text-shadow: 2px 0 2px rgba(0, 0, 0, 0.2), -2px 0 2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2), 0 -2px 2px rgba(0, 0, 0, 0.2), 2px 0 2px rgba(0, 0, 0, 0.2), -2px 0 2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2),
        0 -2px 2px rgba(0, 0, 0, 0.2);
}
.dark .message-text-part.type-name,
.dark .message-text-part.type-system > span {
    color: #ccc;
}
.light .message-text-part {
    color: #fff;
    text-shadow: 2px 0 2px rgba(51, 51, 51, 0.6), -2px 0 2px rgba(51, 51, 51, 0.6), 0 2px 2px rgba(51, 51, 51, 0.6), 0 -2px 2px rgba(51, 51, 51, 0.6), 2px 0 2px rgba(51, 51, 51, 0.6), -2px 0 2px rgba(51, 51, 51, 0.6),
        0 2px 2px rgba(51, 51, 51, 0.6), 0 -2px 2px rgba(51, 51, 51, 0.6);
}
.light .message-text-part.type-name,
.light .message-text-part.type-system > span {
    color: #666;
    text-shadow: 2px 0 2px hsla(0, 0%, 100%, 0.8), -2px 0 2px hsla(0, 0%, 100%, 0.8), 0 2px 2px hsla(0, 0%, 100%, 0.8), 0 -2px 2px hsla(0, 0%, 100%, 0.8), 2px 0 2px hsla(0, 0%, 100%, 0.8), -2px 0 2px hsla(0, 0%, 100%, 0.8),
        0 2px 2px hsla(0, 0%, 100%, 0.8), 0 -2px 2px hsla(0, 0%, 100%, 0.8);
}
.message-icon-part img {
    height: 100%;
}
.message-item-wrapper {
    margin-bottom: 6px;
}
.message-item-wrapper .message-item {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
}
html:not(.style-scope) {
    --yt-live-chat-background-color: #fff;
    --yt-live-chat-action-panel-background-color: hsla(0, 0%, 93%, 0.4);
    --yt-live-chat-action-panel-background-color-transparent: hsla(0, 0%, 97%, 0.8);
    --yt-live-chat-mode-change-background-color: hsla(0, 0%, 93%, 0.4);
    --yt-live-chat-primary-text-color: #111;
    --yt-live-chat-secondary-text-color: hsla(0, 0%, 7%, 0.6);
    --yt-live-chat-tertiary-text-color: hsla(0, 0%, 7%, 0.4);
    --yt-live-chat-text-input-field-inactive-underline-color: #b8b8b8;
    --yt-live-chat-text-input-field-placeholder-color: hsla(0, 0%, 7%, 0.6);
    --yt-live-chat-icon-button-color: hsla(0, 0%, 7%, 0.4);
    --yt-live-chat-enabled-send-button-color: #4285f4;
    --yt-live-chat-disabled-icon-button-color: hsla(0, 0%, 7%, 0.2);
    --yt-live-chat-picker-button-color: hsla(0, 0%, 7%, 0.4);
    --yt-live-chat-picker-button-active-color: hsla(0, 0%, 7%, 0.8);
    --yt-live-chat-picker-button-disabled-color: var(--yt-live-chat-disabled-icon-button-color);
    --yt-live-chat-picker-button-hover-color: hsla(0, 0%, 7%, 0.6);
    --yt-live-chat-mention-background-color: #ff5722;
    --yt-live-chat-mention-text-color: #fff;
    --yt-live-chat-deleted-message-color: rgba(0, 0, 0, 0.5);
    --yt-live-chat-deleted-message-bar-color: hsla(0, 0%, 4%, 0.2);
    --yt-live-chat-disabled-button-background-color: #eee;
    --yt-live-chat-disabled-button-text-color: hsla(0, 0%, 7%, 0.4);
    --yt-live-chat-sub-panel-background-color: #eee;
    --yt-live-chat-sub-panel-background-color-transparent: hsla(0, 0%, 93%, 0.7);
    --yt-live-chat-header-background-color: hsla(0, 0%, 93%, 0.4);
    --yt-live-chat-header-button-color: #111;
    --yt-live-chat-error-message-color: #bd523d;
    --yt-live-chat-reconnect-message-color: hsla(0, 0%, 7%, 0.2);
    --yt-live-chat-moderator-color: #5f84f1;
    --yt-live-chat-owner-color: #e3a935;
    --yt-live-chat-author-chip-owner-text-color: rgba(0, 0, 0, 0.87);
    --yt-live-chat-author-chip-verified-background-color: #ccc;
    --yt-live-chat-author-chip-verified-text-color: #606060;
    --yt-live-chat-message-highlight-background-color: #f8f8f8;
    --yt-live-chat-sponsor-color: #107516;
    --yt-live-chat-overlay-color: rgba(0, 0, 0, 0.6);
    --yt-live-chat-dialog-background-color: #fff;
    --yt-live-chat-dialog-text-color: hsla(0, 0%, 7%, 0.6);
    --yt-live-chat-poll-choice-text-color: var(--yt-spec-text-secondary);
    --yt-live-chat-poll-choice-border-color: var(--yt-spec-10-percent-layer);
    --yt-live-chat-poll-choice-vote-bar-background-color: hsla(0, 0%, 93%, 0.8);
    --yt-live-chat-poll-choice-vote-bar-background-color-selected: #f2f8ff;
    --yt-live-chat-poll-choice-color-selected: #065fd4;
    --yt-live-chat-moderation-mode-hover-background-color: hsla(0, 0%, 7%, 0.2);
    --yt-live-chat-additional-inline-action-button-color: #fff;
    --yt-live-chat-additional-inline-action-button-background-color: rgba(66, 66, 66, 0.8);
    --yt-live-chat-additional-inline-action-button-background-color-hover: #424242;
    --yt-formatted-string-emoji-size: 24px;
    --yt-live-chat-emoji-size: 24px;
    --yt-live-chat-text-input-field-suggestion-background-color: #fff;
    --yt-live-chat-text-input-field-suggestion-background-color-hover: #eee;
    --yt-live-chat-text-input-field-suggestion-text-color: #666;
    --yt-live-chat-text-input-field-suggestion-text-color-hover: #333;
    --yt-live-chat-ticker-arrow-background: #f8f8f8;
    --yt-emoji-picker-category-background-color: var(--yt-live-chat-action-panel-background-color-transparent);
    --yt-emoji-picker-category-color: var(--yt-live-chat-secondary-text-color);
    --yt-emoji-picker-category-button-color: var(--yt-live-chat-picker-button-color);
    --yt-emoji-picker-search-background-color: hsla(0, 0%, 100%, 0.6);
    --yt-emoji-picker-search-color: hsla(0, 0%, 7%, 0.8);
    --yt-emoji-picker-search-placeholder-color: hsla(0, 0%, 7%, 0.6);
    --yt-live-chat-slider-active-color: #2196f3;
    --yt-live-chat-slider-container-color: #c8c8c8;
    --yt-live-chat-slider-markers-color: #505050;
    --yt-live-chat-toast-background-color: #333;
    --yt-live-chat-toast-text-color: #fff;
    --yt-live-chat-automod-button-background-color: #eee;
    --yt-live-chat-automod-button-background-color-hover: hsla(0, 0%, 7%, 0.2);
    --yt-live-chat-countdown-opacity: 0.3;
    --yt-live-chat-shimmer-background-color: hsla(0, 0%, 53%, 0.2);
    --yt-live-chat-shimmer-linear-gradient: linear-gradient(0deg, hsla(0, 0%, 100%, 0) 40%, hsla(0, 0%, 100%, 0.5) 50%, hsla(0, 0%, 100%, 0) 65%);
    --yt-live-chat-vem-background-color: #eee;
    --yt-live-chat-upsell-dialog-renderer-button-padding: 10px 16px;
    --yt-live-chat-product-picker-icon-color: hsla(0, 0%, 7%, 0.6);
    --yt-live-chat-product-picker-hover-color: rgba(17, 17, 16, 0.1);
    --yt-live-chat-product-picker-disabled-icon-color: hsla(0, 0%, 7%, 0.4);
    --yt-pdg-paid-stickers-tab-selection-bar-color: #065fd4;
    --yt-pdg-paid-stickers-author-name-font-size: 13px;
    --yt-pdg-paid-stickers-margin-left: 38px;
    --layout_-_display: flex;
    --layout-inline_-_display: inline-flex;
    --layout-horizontal_-_display: var(--layout_-_display);
    --layout-horizontal_-_-ms-flex-direction: row;
    --layout-horizontal_-_-webkit-flex-direction: row;
    --layout-horizontal_-_flex-direction: row;
    --layout-horizontal-reverse_-_display: var(--layout_-_display);
    --layout-horizontal-reverse_-_-ms-flex-direction: row-reverse;
    --layout-horizontal-reverse_-_-webkit-flex-direction: row-reverse;
    --layout-horizontal-reverse_-_flex-direction: row-reverse;
    --layout-vertical_-_display: var(--layout_-_display);
    --layout-vertical_-_-ms-flex-direction: column;
    --layout-vertical_-_-webkit-flex-direction: column;
    --layout-vertical_-_flex-direction: column;
    --layout-vertical-reverse_-_display: var(--layout_-_display);
    --layout-vertical-reverse_-_-ms-flex-direction: column-reverse;
    --layout-vertical-reverse_-_-webkit-flex-direction: column-reverse;
    --layout-vertical-reverse_-_flex-direction: column-reverse;
    --layout-wrap_-_-ms-flex-wrap: wrap;
    --layout-wrap_-_-webkit-flex-wrap: wrap;
    --layout-wrap_-_flex-wrap: wrap;
    --layout-wrap-reverse_-_-ms-flex-wrap: wrap-reverse;
    --layout-wrap-reverse_-_-webkit-flex-wrap: wrap-reverse;
    --layout-wrap-reverse_-_flex-wrap: wrap-reverse;
    --layout-flex-auto_-_-ms-flex: 1 1 auto;
    --layout-flex-auto_-_-webkit-flex: 1 1 auto;
    --layout-flex-auto_-_flex: 1 1 auto;
    --layout-flex-none_-_-ms-flex: none;
    --layout-flex-none_-_-webkit-flex: none;
    --layout-flex-none_-_flex: none;
    --layout-flex_-_-ms-flex: 1 1 0.000000001px;
    --layout-flex_-_-webkit-flex: 1;
    --layout-flex_-_flex: 1;
    --layout-flex_-_-webkit-flex-basis: 0.000000001px;
    --layout-flex_-_flex-basis: 0.000000001px;
    --layout-flex-2_-_-ms-flex: 2;
    --layout-flex-2_-_-webkit-flex: 2;
    --layout-flex-2_-_flex: 2;
    --layout-flex-3_-_-ms-flex: 3;
    --layout-flex-3_-_-webkit-flex: 3;
    --layout-flex-3_-_flex: 3;
    --layout-flex-4_-_-ms-flex: 4;
    --layout-flex-4_-_-webkit-flex: 4;
    --layout-flex-4_-_flex: 4;
    --layout-flex-5_-_-ms-flex: 5;
    --layout-flex-5_-_-webkit-flex: 5;
    --layout-flex-5_-_flex: 5;
    --layout-flex-6_-_-ms-flex: 6;
    --layout-flex-6_-_-webkit-flex: 6;
    --layout-flex-6_-_flex: 6;
    --layout-flex-7_-_-ms-flex: 7;
    --layout-flex-7_-_-webkit-flex: 7;
    --layout-flex-7_-_flex: 7;
    --layout-flex-8_-_-ms-flex: 8;
    --layout-flex-8_-_-webkit-flex: 8;
    --layout-flex-8_-_flex: 8;
    --layout-flex-9_-_-ms-flex: 9;
    --layout-flex-9_-_-webkit-flex: 9;
    --layout-flex-9_-_flex: 9;
    --layout-flex-10_-_-ms-flex: 10;
    --layout-flex-10_-_-webkit-flex: 10;
    --layout-flex-10_-_flex: 10;
    --layout-flex-11_-_-ms-flex: 11;
    --layout-flex-11_-_-webkit-flex: 11;
    --layout-flex-11_-_flex: 11;
    --layout-flex-12_-_-ms-flex: 12;
    --layout-flex-12_-_-webkit-flex: 12;
    --layout-flex-12_-_flex: 12;
    --layout-start_-_-ms-flex-align: start;
    --layout-start_-_-webkit-align-items: flex-start;
    --layout-start_-_align-items: flex-start;
    --layout-center_-_-ms-flex-align: center;
    --layout-center_-_-webkit-align-items: center;
    --layout-center_-_align-items: center;
    --layout-end_-_-ms-flex-align: end;
    --layout-end_-_-webkit-align-items: flex-end;
    --layout-end_-_align-items: flex-end;
    --layout-baseline_-_-ms-flex-align: baseline;
    --layout-baseline_-_-webkit-align-items: baseline;
    --layout-baseline_-_align-items: baseline;
    --layout-start-justified_-_-ms-flex-pack: start;
    --layout-start-justified_-_-webkit-justify-content: flex-start;
    --layout-start-justified_-_justify-content: flex-start;
    --layout-center-justified_-_-ms-flex-pack: center;
    --layout-center-justified_-_-webkit-justify-content: center;
    --layout-center-justified_-_justify-content: center;
    --layout-end-justified_-_-ms-flex-pack: end;
    --layout-end-justified_-_-webkit-justify-content: flex-end;
    --layout-end-justified_-_justify-content: flex-end;
    --layout-around-justified_-_-ms-flex-pack: distribute;
    --layout-around-justified_-_-webkit-justify-content: space-around;
    --layout-around-justified_-_justify-content: space-around;
    --layout-justified_-_-ms-flex-pack: justify;
    --layout-justified_-_-webkit-justify-content: space-between;
    --layout-justified_-_justify-content: space-between;
    --layout-center-center_-_-ms-flex-align: var(--layout-center_-_-ms-flex-align);
    --layout-center-center_-_-webkit-align-items: var(--layout-center_-_-webkit-align-items);
    --layout-center-center_-_align-items: var(--layout-center_-_align-items);
    --layout-center-center_-_-ms-flex-pack: var(--layout-center-justified_-_-ms-flex-pack);
    --layout-center-center_-_-webkit-justify-content: var(--layout-center-justified_-_-webkit-justify-content);
    --layout-center-center_-_justify-content: var(--layout-center-justified_-_justify-content);
    --layout-self-start_-_-ms-align-self: flex-start;
    --layout-self-start_-_-webkit-align-self: flex-start;
    --layout-self-start_-_align-self: flex-start;
    --layout-self-center_-_-ms-align-self: center;
    --layout-self-center_-_-webkit-align-self: center;
    --layout-self-center_-_align-self: center;
    --layout-self-end_-_-ms-align-self: flex-end;
    --layout-self-end_-_-webkit-align-self: flex-end;
    --layout-self-end_-_align-self: flex-end;
    --layout-self-stretch_-_-ms-align-self: stretch;
    --layout-self-stretch_-_-webkit-align-self: stretch;
    --layout-self-stretch_-_align-self: stretch;
    --layout-self-baseline_-_-ms-align-self: baseline;
    --layout-self-baseline_-_-webkit-align-self: baseline;
    --layout-self-baseline_-_align-self: baseline;
    --layout-start-aligned_-_-ms-flex-line-pack: start;
    --layout-start-aligned_-_-ms-align-content: flex-start;
    --layout-start-aligned_-_-webkit-align-content: flex-start;
    --layout-start-aligned_-_align-content: flex-start;
    --layout-end-aligned_-_-ms-flex-line-pack: end;
    --layout-end-aligned_-_-ms-align-content: flex-end;
    --layout-end-aligned_-_-webkit-align-content: flex-end;
    --layout-end-aligned_-_align-content: flex-end;
    --layout-center-aligned_-_-ms-flex-line-pack: center;
    --layout-center-aligned_-_-ms-align-content: center;
    --layout-center-aligned_-_-webkit-align-content: center;
    --layout-center-aligned_-_align-content: center;
    --layout-between-aligned_-_-ms-flex-line-pack: justify;
    --layout-between-aligned_-_-ms-align-content: space-between;
    --layout-between-aligned_-_-webkit-align-content: space-between;
    --layout-between-aligned_-_align-content: space-between;
    --layout-around-aligned_-_-ms-flex-line-pack: distribute;
    --layout-around-aligned_-_-ms-align-content: space-around;
    --layout-around-aligned_-_-webkit-align-content: space-around;
    --layout-around-aligned_-_align-content: space-around;
    --layout-block_-_display: block;
    --layout-invisible_-_visibility: hidden !important;
    --layout-relative_-_position: relative;
    --layout-fit_-_position: absolute;
    --layout-fit_-_top: 0;
    --layout-fit_-_right: 0;
    --layout-fit_-_bottom: 0;
    --layout-fit_-_left: 0;
    --layout-scroll_-_-webkit-overflow-scrolling: touch;
    --layout-scroll_-_overflow: auto;
    --layout-fullbleed_-_margin: 0;
    --layout-fullbleed_-_height: 100vh;
    --layout-fixed-top_-_position: fixed;
    --layout-fixed-top_-_top: 0;
    --layout-fixed-top_-_left: 0;
    --layout-fixed-top_-_right: 0;
    --layout-fixed-right_-_position: fixed;
    --layout-fixed-right_-_top: 0;
    --layout-fixed-right_-_right: 0;
    --layout-fixed-right_-_bottom: 0;
    --layout-fixed-bottom_-_position: fixed;
    --layout-fixed-bottom_-_right: 0;
    --layout-fixed-bottom_-_bottom: 0;
    --layout-fixed-bottom_-_left: 0;
    --layout-fixed-left_-_position: fixed;
    --layout-fixed-left_-_top: 0;
    --layout-fixed-left_-_bottom: 0;
    --layout-fixed-left_-_left: 0;
}
.yt-live-chat-item-list-renderer #item-scroller,
.yt-live-chat-renderer {
    height: 100%;
}
.yt-live-chat-renderer ::-webkit-scrollbar {
    content: "";
}
.yt-live-chat-renderer ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 53%, 0.2);
    border: 2px solid #fcfcfc;
    min-height: 30px;
}
.yt-live-chat-renderer ::-webkit-scrollbar-track {
    background-color: #fcfcfc;
}
canvas.yt-live-chat-renderer,
caption.yt-live-chat-renderer,
center.yt-live-chat-renderer,
cite.yt-live-chat-renderer,
code.yt-live-chat-renderer,
dd.yt-live-chat-renderer,
del.yt-live-chat-renderer,
dfn.yt-live-chat-renderer,
div.yt-live-chat-renderer,
dl.yt-live-chat-renderer,
dt.yt-live-chat-renderer,
em.yt-live-chat-renderer,
embed.yt-live-chat-renderer,
fieldset.yt-live-chat-renderer,
font.yt-live-chat-renderer,
form.yt-live-chat-renderer,
h1.yt-live-chat-renderer,
h2.yt-live-chat-renderer,
h3.yt-live-chat-renderer,
h4.yt-live-chat-renderer,
h5.yt-live-chat-renderer,
h6.yt-live-chat-renderer,
hr.yt-live-chat-renderer,
i.yt-live-chat-renderer,
iframe.yt-live-chat-renderer,
img.yt-live-chat-renderer,
ins.yt-live-chat-renderer,
kbd.yt-live-chat-renderer,
label.yt-live-chat-renderer,
legend.yt-live-chat-renderer,
li.yt-live-chat-renderer,
menu.yt-live-chat-renderer,
object.yt-live-chat-renderer,
ol.yt-live-chat-renderer,
p.yt-live-chat-renderer,
pre.yt-live-chat-renderer,
q.yt-live-chat-renderer,
s.yt-live-chat-renderer,
samp.yt-live-chat-renderer,
small.yt-live-chat-renderer,
span.yt-live-chat-renderer,
strike.yt-live-chat-renderer,
strong.yt-live-chat-renderer,
sub.yt-live-chat-renderer,
sup.yt-live-chat-renderer,
table.yt-live-chat-renderer,
tbody.yt-live-chat-renderer,
td.yt-live-chat-renderer,
tfoot.yt-live-chat-renderer,
th.yt-live-chat-renderer,
thead.yt-live-chat-renderer,
tr.yt-live-chat-renderer,
tt.yt-live-chat-renderer,
u.yt-live-chat-renderer,
ul.yt-live-chat-renderer,
var.yt-live-chat-renderer {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
.yt-live-chat-renderer[hidden] {
    display: none !important;
}
.yt-live-chat-renderer {
    font-size: 13px;
    --yt-emoji-picker-renderer-height: 180px;
    --yt-button-default-text-color: var(--yt-live-chat-button-default-text-color);
    --yt-button-default-background-color: var(--yt-live-chat-button-default-background-color);
    --yt-button-dark-text-color: var(--yt-live-chat-button-dark-text-color);
    --yt-button-dark-background-color: var(--yt-live-chat-button-dark-background-color);
    --yt-button-payment-background-color: var(--yt-live-chat-sponsor-color);
    position: relative;
    background: var(--yt-live-chat-background-color);
    color: var(--yt-live-chat-primary-text-color);
    overflow: hidden;
    z-index: 0;
    display: flex;
    flex-direction: column;
}
.yt-live-chat-renderer[hide-timestamps] {
    --yt-live-chat-item-timestamp-display: none;
}
#separator.yt-live-chat-renderer {
    border-bottom: var(--yt-live-chat-header-bottom-border, none);
}
#content-pages.yt-live-chat-renderer {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 0.000000001px;
}
#panel-pages.yt-live-chat-renderer {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#contents.yt-live-chat-renderer {
    overflow: hidden;
    position: relative;
    z-index: 0;
}
#chat-messages.yt-live-chat-renderer,
#contents.yt-live-chat-renderer,
#item-list.yt-live-chat-renderer {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 0.000000001px;
}
#ticker.yt-live-chat-renderer {
    z-index: 1;
}
#chat.yt-live-chat-renderer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 0.000000001px;
}
#chat.yt-live-chat-renderer:after {
    content: "";
    display: none;
    -webkit-animation: gradient-slide 1.2s ease infinite;
    animation: gradient-slide 1.2s ease infinite;
    -webkit-animation-name: gradient-slide;
    animation-name: gradient-slide;
    background-color: var(--yt-live-chat-shimmer-background-color);
    background-image: var(--yt-live-chat-shimmer-linear-gradient);
    background-size: 300% 300%;
    transform: rotateX(180deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.yt-live-chat-renderer[loading] #chat.yt-live-chat-renderer:after {
    display: block;
}
.yt-live-chat-pinned-message-renderer.yt-live-chat-renderer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.yt-live-chat-item-list-renderer.yt-live-chat-renderer,
.yt-live-chat-ninja-message-renderer.yt-live-chat-renderer {
    flex: 1;
}
#action-panel.yt-live-chat-renderer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.yt-live-chat-renderer[has-action-panel-renderer] .yt-live-chat-action-panel-renderer.yt-live-chat-renderer {
    -webkit-animation: slideUp cubic-bezier(0.05, 0, 0, 1) forwards;
    animation: slideUp cubic-bezier(0.05, 0, 0, 1) forwards;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
#action-panel-backdrop.yt-live-chat-renderer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.yt-live-chat-renderer[has-action-panel-renderer] #action-panel-backdrop.yt-live-chat-renderer {
    visibility: visible;
    -webkit-animation: fadeIn cubic-bezier(0.05, 0, 0, 1) forwards;
    animation: fadeIn cubic-bezier(0.05, 0, 0, 1) forwards;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
#input-panel.yt-live-chat-renderer {
    flex: none;
}
#input-panel.yt-live-chat-renderer:not(:empty) {
    border-top: var(--yt-live-chat-action-panel-top-border, none);
}
.hide-on-collapse.yt-live-chat-renderer {
    transition: opacity 0.3s;
}
.yt-live-chat-renderer[collapsed] .hide-on-collapse.yt-live-chat-renderer {
    opacity: 0;
}
#loading.yt-live-chat-renderer {
    height: 387px;
    background-color: var(--yt-live-chat-action-panel-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loading.yt-live-chat-renderer > .paper-spinner-lite.yt-live-chat-renderer {
    --paper-spinner-color: var(--yt-live-chat-primary-text-color);
}
#nitrate-promo.yt-live-chat-renderer > .yt-live-chat-renderer {
    background: var(--yt-live-chat-overlay-color);
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@-webkit-keyframes gradient-slide {
    0% {
        background-position: 100% 100%;
    }
    to {
        background-position: 0 0;
    }
}
@keyframes gradient-slide {
    0% {
        background-position: 100% 100%;
    }
    to {
        background-position: 0 0;
    }
}
@-webkit-keyframes slideUp {
    0% {
        transform: translateY(15%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(15%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        background-color: transparent;
    }
    to {
        background-color: rgba(0, 0, 0, 0.6);
    }
}
@keyframes fadeIn {
    0% {
        background-color: transparent;
    }
    to {
        background-color: rgba(0, 0, 0, 0.6);
    }
}
canvas.yt-live-chat-item-list-renderer,
caption.yt-live-chat-item-list-renderer,
center.yt-live-chat-item-list-renderer,
cite.yt-live-chat-item-list-renderer,
code.yt-live-chat-item-list-renderer,
dd.yt-live-chat-item-list-renderer,
del.yt-live-chat-item-list-renderer,
dfn.yt-live-chat-item-list-renderer,
div.yt-live-chat-item-list-renderer,
dl.yt-live-chat-item-list-renderer,
dt.yt-live-chat-item-list-renderer,
em.yt-live-chat-item-list-renderer,
embed.yt-live-chat-item-list-renderer,
fieldset.yt-live-chat-item-list-renderer,
font.yt-live-chat-item-list-renderer,
form.yt-live-chat-item-list-renderer,
h1.yt-live-chat-item-list-renderer,
h2.yt-live-chat-item-list-renderer,
h3.yt-live-chat-item-list-renderer,
h4.yt-live-chat-item-list-renderer,
h5.yt-live-chat-item-list-renderer,
h6.yt-live-chat-item-list-renderer,
hr.yt-live-chat-item-list-renderer,
i.yt-live-chat-item-list-renderer,
iframe.yt-live-chat-item-list-renderer,
img.yt-live-chat-item-list-renderer,
ins.yt-live-chat-item-list-renderer,
kbd.yt-live-chat-item-list-renderer,
label.yt-live-chat-item-list-renderer,
legend.yt-live-chat-item-list-renderer,
li.yt-live-chat-item-list-renderer,
menu.yt-live-chat-item-list-renderer,
object.yt-live-chat-item-list-renderer,
ol.yt-live-chat-item-list-renderer,
p.yt-live-chat-item-list-renderer,
pre.yt-live-chat-item-list-renderer,
q.yt-live-chat-item-list-renderer,
s.yt-live-chat-item-list-renderer,
samp.yt-live-chat-item-list-renderer,
small.yt-live-chat-item-list-renderer,
span.yt-live-chat-item-list-renderer,
strike.yt-live-chat-item-list-renderer,
strong.yt-live-chat-item-list-renderer,
sub.yt-live-chat-item-list-renderer,
sup.yt-live-chat-item-list-renderer,
table.yt-live-chat-item-list-renderer,
tbody.yt-live-chat-item-list-renderer,
td.yt-live-chat-item-list-renderer,
tfoot.yt-live-chat-item-list-renderer,
th.yt-live-chat-item-list-renderer,
thead.yt-live-chat-item-list-renderer,
tr.yt-live-chat-item-list-renderer,
tt.yt-live-chat-item-list-renderer,
u.yt-live-chat-item-list-renderer,
ul.yt-live-chat-item-list-renderer,
var.yt-live-chat-item-list-renderer {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
.yt-live-chat-item-list-renderer[hidden] {
    display: none !important;
}
.yt-live-chat-item-list-renderer {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 0;
}
.yt-live-chat-item-list-renderer[moderation-mode-enabled] {
    --yt-live-chat-item-with-inline-actions-context-menu-display: none;
    --yt-live-chat-inline-action-button-container-display: flex;
}
#contents.yt-live-chat-item-list-renderer,
#empty-state-message.yt-live-chat-item-list-renderer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
#empty-state-message.yt-live-chat-item-list-renderer {
    justify-content: center;
}
#empty-state-message.yt-live-chat-item-list-renderer > .yt-live-chat-message-renderer.yt-live-chat-item-list-renderer {
    color: var(--yt-live-chat-tertiary-text-color);
    background: transparent;
    font-size: 18px;
    --yt-live-chat-message-renderer-text-align: center;
}
.yt-icon-button.yt-live-chat-item-list-renderer {
    background-color: #2196f3;
    border-radius: 999px;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0 calc(50% - 16px) 8px calc(50% - 16px);
    padding: 4px;
    position: absolute;
    transition-property: bottom;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 0.15s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.yt-icon-button.yt-live-chat-item-list-renderer[disabled] {
    bottom: -42px;
    color: #fff;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
#item-scroller.yt-live-chat-item-list-renderer {
    flex: 1;
    flex-basis: 0.000000001px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: var(--scrollbar-width);
}
.yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer {
    overflow-y: scroll;
    padding-right: 0;
}
#item-offset.yt-live-chat-item-list-renderer {
    position: relative;
}
#item-scroller.animated.yt-live-chat-item-list-renderer #item-offset.yt-live-chat-item-list-renderer {
    overflow: hidden;
}
#items.yt-live-chat-item-list-renderer {
    flex: 1;
    flex-basis: 0.000000001px;
    padding: var(--yt-live-chat-item-list-renderer-padding, 4px 0);
}
#items.yt-live-chat-item-list-renderer > .yt-live-chat-item-list-renderer:not(:first-child) {
    border-top: var(--yt-live-chat-item-list-item-border, none);
}
#item-scroller.animated.yt-live-chat-item-list-renderer #items.yt-live-chat-item-list-renderer {
    /* bottom: 0; */
    top: 0;
    left: 0;
    /* position: absolute; */
    right: 0;
    transform: translateY(0);
}
#docked-messages.yt-live-chat-item-list-renderer {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.yt-live-chat-paid-sticker-renderer.yt-live-chat-item-list-renderer {
    padding: 4px 24px;
}
.yt-live-chat-paid-sticker-renderer.yt-live-chat-item-list-renderer[dashboard-money-feed] {
    padding: 8px 16px;
}
.yt-live-chat-app .item-offset {
    padding: 20px;
}
.chat-app {
    font-family: Noto Sans Rejang;
}
.chat-app.light {
    background-color: transparent !important;
    border-radius: 4px;
}
.chat-app.dark {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: 4px;
}
* {
    margin: 0;
    padding: 0;
}
.app,
.app-wrapper,
.sidebar-container,
body,
html {
    height: 100%;
}
body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, å¾®è½¯é›…é»‘, Arial, sans-serif;
    background-color: transparent;
}
.app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100vh;
}
